extends layout

block content
  h1= title
  div
    input#username(type="text" placeholder="Enter your username" required)
    button#save-username Save Username
  script.
    document.getElementById('save-username').addEventListener('click', function() {
      var username = document.getElementById('username').value;
      if (username) {
        // 사용자 이름을 세션에 저장 후 채팅방으로 이동
        window.location.href = '/room?username=' + encodeURIComponent(username);
      }
    });
